[Unit]
Description=Docker Gitlab Service
Requires=\
  docker.service \
  docker-gitlab-postgresql.service \
  docker-gitlab-redis.service
After=\
  docker.service \
  docker-gitlab-postgresql.service \
  docker-gitlab-redis.service \
  docker-nginx.service \
  docker-nginx-gen.service \
  network.target

[Service]
ExecStartPre=-/usr/bin/docker stop "${container}"
ExecStartPre=-/usr/bin/docker rm "${container}"
ExecStartPre=/usr/bin/docker pull "${image}"
ExecStartPre=/bin/bash -c "/usr/bin/systemctl set-environment gitlab_trusted_proxies=$(docker inspect --format '{{ .NetworkSettings.IPAddress }}' ${nginx_container})"
ExecStart=\
  /usr/bin/docker run \
    --name          "${container}" \
    -v              "${host_dir}:/host:z" \
    -e              "VIRTUAL_HOST=${host}" \
    -e              "CERT_NAME=${cert}" \
    -e              "GITLAB_HOST=${host}" \
    -e              "GITLAB_TRUSTED_PROXIES=${gitlab_trusted_proxies}" \
    -e              "GITLAB_SECRETS_DB_KEY_BASE=${secrets_db_key}" \
    -e              "GITLAB_SSH_PORT=${ssh_port}" \
    -e              "GITLAB_BACKUP_EXPIRY=600" \
    -e              "NGINX_X_FORWARDED_PROTO=${nginx_x_forwarded_proto}" \
    -p              "${ssh_port}:22" \
    --cpu-shares    "${cpu_share}" \
    -m              "${memory}" \
    --memory-swap   "${memory_swap}" \
    --volumes-from  "${persistence_container}" \
    --link          "${postgresql_container}:postgresql" \
    --link          "${redis_container}:redisio" \
    "${image}"

EnvironmentFile=/etc/systemd/system/env/docker-gitlab.env
TimeoutStartSec=0
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

