[Unit]
Description=Docker Gitlab Redis Container
Requires=\
  docker.service
After=\
  docker.service \
  network.target

[Service]
ExecStartPre=-/usr/bin/docker stop "${redis_container}"
ExecStartPre=-/usr/bin/docker rm "${redis_container}"
ExecStartPre=/usr/bin/docker pull "${redis_image}"
ExecStart=\
  /usr/bin/docker run \
    --name          "${redis_container}" \
    --cpu-shares    "${redis_cpu_share}" \
    -m              "${redis_memory}" \
    --memory-swap   "${redis_memory_swap}" \
    --volumes-from  "${redis_persistence_container}" \
    "${redis_image}"

EnvironmentFile=/etc/docker-gitlab.pod.conf
TimeoutStartSec=0
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
